@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --light: #ccc;
    --dark: #202020;
    --dark-grey: #333;
    --light-grey: #aaa;
    --tlight: #d9d9d9;
  }

  html {
    @apply hide-scrollbar;
  }

  html.dark {
    @apply bg-dark text-tlight;
  }

  html.light {
    @apply bg-light text-tdark;
  }

  body {
    @apply min-h-screen;
    position: relative;
    isolation: isolate;
    font-family: "Jura", "sans-serif";
    animation: fadeIn 3s;
    z-index: 0;
  }

  /* gradient layers */
  body::before,
  body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  /* dark layer (visible by default) */
  body::before {
    background: linear-gradient(to bottom, #303030 0%, var(--dark) 50%);
    opacity: 1; /* default */
  }

  /* light layer (hidden by default) */
  body::after {
    background: linear-gradient(to bottom, #999, var(--light));
    opacity: 0; /* default */
  }

  /* theme overrides */
  body.light::before {
    opacity: 0;
  }
  body.light::after {
    opacity: 1;
  }

  img {
    aspect-ratio: 1 / 1;
  }
}

@layer components {
  .taskbar-item {
    @apply hover-over w-13 p-3 h-13 cursor-pointer;
  }

  .project-app {
    @apply hover-over p-2 flex-nowrap rounded-lg hover:opacity-100 opacity-80;
  }

  .title-gradient.dark {
    @apply bg-gradient-to-r from-[#666] via-[#999] to-[#666] bg-clip-text text-transparent;
  }

  .title-gradient.light {
    @apply bg-gradient-to-r from-[#202020] via-[#555] to-[#202020] bg-clip-text text-transparent;
  }

  .overlay {
    @apply absolute z-99 h-full w-full bg-[rgba(0,0,0,0.5)];
  }

  .project-desc {
    @apply md:text-lg text-sm;
  }

  .scrollbar-style.dark {
    scrollbar-width: thin;
    scrollbar-color: #d9d9d9 transparent;
  }

  .scrollbar-style.light {
    scrollbar-width: thin;
    scrollbar-color: #151515 transparent;
  }

  .reference-link {
    @apply underline underline-offset-2 hover:text-[#999];
  }
}

@theme {
  --animate-small-bounce: smallBounce 0.3s linear 0s infinite;
  --animate-shake: shake 0.3s linear 0s infinite;
  --animate-flip: flip 0.5 ease-in-out 0s both 1;

  @keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(1deg);
    }
    75% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes smallBounce {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@theme {
  --color-tlight: var(--tlight);
  --color-tdark: #1f1f1f;
  --color-tlight-secondary: #555;
  --color-tdark-secondary: #a0a0a0;

  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-dark-grey: var(--dark-grey);
  --color-light-grey: var(--light-grey);

  --color-terminal: #1d1d1d;
}

@utility caret-terminal {
  caret-shape: block;
  caret-animation: manual;
}

@utility hover-over {
  @apply hover:bg-[rgba(100,100,100,0.5)];
  transition: background-color 1s;
}

@utility no-bottom-shadow {
  box-shadow: 0 4px 16px 4px #d9d9d9;
}

@utility searchbar-transition {
  transition: width 1s;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
