name: deploy site

on:
  push:
    branches: [main]


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: checkout
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with: 
          node-version: 20

      - name: install dependencies
        run: npm ci

      - name: configure git for commit and deploy
        run: |
              git config --global user.name "deploy-bot"
              git config --global user.email "deploy-bot@github.com"      

      - name: deploy
        run: npm run deploy